.o-item {
    display: flex;
    align-items: center;
    padding-block: 12px;
    padding-inline: 16px;
    background: #FFF;
    gap: 10px;
    border-radius: 6px;
    width: 100%;

    &:hover {
        background-color: rgb(73, 135, 134);

        .o-item__name {
            color: #FFF;
        }
    }

    .o-item__name {
        font-size: 12px;
        text-transform: capitalize;
        color: #7C7C7C;

        
    }
}

.o-item--primary {
    background: rgb(22,159,105);
    background: linear-gradient(90deg, rgba(22,159,105,1) 0%, rgba(9,162,163,1) 100%);

    &:hover {
        filter: brightness(.8);
    }

    .o-item__name {
        color: #FFF
    }
}