* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --neutral-950: #000;
  --neutral-60: #F8FBFF;
  --neutral-70: #F5F6F8;
  --neutral-50: #FFF;
  --primary-100: #7D8086;
  --primary-200: #586071;
  --primary-500: #171D29;
  --primary-500-70: #171d29ab;
  --primary-20: #7D808633;
  --red-color: #D33434;
  --gradient: 90deg, rgba(41, 89, 196, 1) 0%, rgba(114, 149, 186, 1) 50%, rgba(185, 189, 195, 1) 100%;

  --animation: 2s ease-in-out infinite;
}

.circle {
  position: relative;
  width: 8px;
  height: 8px;
}

.dot {
  width: 100%;
  height: 100%;
  background-color: #34D347;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.outline {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3b82f6;
  opacity: 0.5;
  animation: ping 1.5s infinite;
  z-index: 1;
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  70% {
    transform: scale(2);
    opacity: 0;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: var(--neutral-60);
}

body.subscriptions {
  justify-content: start;
}

main.home {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  flex-direction: column;
}

main.auth {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 0px 16px;
  max-width: 414px;
  width: 100%;
}

.logo {
  display: flex;
  gap: 0.2188rem;
  align-items: center;
  font-size: 1rem;
  color: var(--neutral-950);
  margin-block: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form__container p {
  margin-top: 16px;
  text-align: center;
}

.form__title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.form__title span {
  background: -webkit-linear-gradient(var(--gradient));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form__description {
  color: var(--primary-100);
  font-size: 1rem;
}

.form__input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__input input {
  border: 1px var(--primary-20) solid;
  padding: 12px 8px;
  border-radius: 4px;
}

.form__input input::placeholder {
  color: var(--primary-100);
}

.form__button {
  background: var(--primary-500);
  padding-block: 12px;
  border-radius: 4px;
  color: var(--neutral-60);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.form__button:hover {
  background: var(--primary-500-70);
}

.form__links {
  color: var(--neutral-950);
  text-align: center;
}

.form__links a {
  color: var(--neutral-950);
  text-decoration: underline;
  transition: all 100ms ease-in;
}

.form__links a:hover {
  color: var(--primary-500-70);
  text-decoration: underline;
}

.input-error {
  color: red;
}

.home__title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.home__title span {
  background: -webkit-linear-gradient(var(--gradient));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home__description {
  color: var(--primary-100);
  max-width: 420px;
  text-align: center;
  font-size: 1rem;
}

.home__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.home__search {
  display: flex;
  border: 1px #E6E9ED solid;
  border-radius: 4px;
  overflow: hidden;
  padding-inline: 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-block: 8px;
  max-width: 630px;
  width: 100%;
}

.home__container {
  width: 100%;
}

.search__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex: 1;
}

.search__separator {
  background: #DFE2E7;
  height: 2rem;
  width: 1px;
}

.search__input:focus {
  outline: none;
}

.search__input {
  padding: 12px 12px 12px 0;
  height: 34px;
  width: 100%;
}

.search__button {
  display: flex;
  cursor: pointer;
  gap: 8px;
  justify-content: center;
  align-items: center;
  background: var(--primary-500);
  padding-inline: 16px;
  padding-block: 8px;
  border-radius: 4px;
  height: 34px;
  color: var(--neutral-60);
}

.search__button span {
  line-height: 1;
  height: fit-content;
}

.search__icon {
  fill: var(--primary-100);
}

.team {
  padding: 16px;
  border: 1px #E6E9ED solid;
  width: 100%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

.team img {
  width: 80px;
  height: 80px;
  margin: auto;
}

.team h1 {
  font-size: 16px;
  color: var(--primary-100);
}

.team__container {
  display: flex;
}

.team__status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-transform: capitalize;
  font-size: 12px;
}

.team__separator {
  width: 100%;
  border: 0.1px #DFE2E7 solid;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 20px;
  max-width: 840px;
  width: 100%;
}

.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

header.subscriptions {
  display: flex;
  width: 100%;
  max-width: 1060px;
  justify-content: space-between;
  padding-block: 26px;
}

.positions {
  display: grid;
  grid-template-columns: auto 46px;
  position: relative;
  place-items: center;
  min-width: 120px;
}

.positions svg path {
  fill: var(--primary-200);
}

.positions select {
  color: var(--primary-200);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;

  display: flex;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  appearance: none;
  /* Remove estilo nativo */
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;

  padding-inline: 16px;
  padding-block: 12px;
  background: var(--neutral-50);
}

.positions svg {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  pointer-events: none;
  margin-inline: 12px;
}

.header__search {
  border: 1px solid #E6E9ED;
  display: flex;
  border-radius: 4px;
  max-width: 520px;
  width: 100%;
  overflow: hidden;
}

.team-name {
  background: #7d80861c;
  padding-inline: 16px;
  width: 100%;
}

.header__search button {
  background: var(--primary-500);
  height: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__search {
  height: 43px;
  background: #7d80861c;
}

.header__search button svg {
  fill: var(--neutral-50)
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: var(--primary-200);
}

.profile .logout {
  color: var(--red-color);
  text-decoration: underline;
  background: transparent;
  cursor: pointer;
}

.team-details {
  padding: 2rem;
  border: none;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  max-width: 400px;
  gap: 8px;
  width: 90%;
  margin: 0 auto;

  top: 50%;
  transform: translateY(-50%);

  font-family: sans-serif;
}

.team-details::backdrop {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
}

.team-details[open] {
  display: flex;
  flex-direction: column;
}

.team-details .status {
  border-radius: 4px;
  padding: 4px 12px;
  font-size: 14px;
  color: #34D347;
  background: #34d34632;
  width: min-content;
}

.team-details .head {
  display: flex;
  gap: 8px;
}

.team-details .head h1 {
  font-size: 24px;
}

.team-details h2 {
  font-size: 16px;
}

.team-details .details {
  display: flex;
  flex-wrap: wrap;
}

.team-details .detail {
  display: flex;
}

.status-tab {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 2px solid #E6E9ED;
  border-bottom: 2px solid #E6E9ED;
}

.status-tab__container {
  width: 100%;
  max-width: 1060px;
  display: flex;
  width: 100%;
  gap: 20px;
}

.tab {
  position: relative;
  padding-block: 20px;
  color: #7d80867a;
  cursor: pointer;
}

.tab[data-selected]{
  background: -webkit-linear-gradient(var(--gradient));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tab[data-selected]::after {
  content: "";
  width: 100%;
  height: 2px;
  background: linear-gradient(var(--gradient)); 
  bottom: -2px;
  left: 0;
  position: absolute;

}

.subscriptions__title {
  font-weight: bold;
  font-size: 20px;
}

body.subscriptions main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin-top: 40px;
  max-width: 1060px;
}

.subscriptions__lead {
  display: flex;
  gap: 10px;
  align-items: center;
}

.subscriptions__quantity {
  color: var(--primary-100);
  font-size: 14px;
  font-weight: 600;
}

.subscriptions__info {
  display: flex;
  justify-content: space-between;
}

.subscriptions__info button {
  background: var(--neutral-950);
  color: var(--neutral-60);
  padding: 8px 16px;
  border-radius: 4px;
}

.subscriptions__table {
  width: 100%;
  border-radius: 4px;
  border-collapse: separate;
  overflow: hidden;
  border-spacing: 0;
  border: 1px solid #E6E9ED;
}

.subscriptions__table thead tr th {
  background: var(--neutral-70);
  border-bottom: 1px solid #e6e6e6;
}

.subscriptions__table thead th {
  text-align: start;
  text-transform: uppercase;
  padding-block: 10px;
  padding-inline: 16px;
}

.subscriptions__table tbody td {
  padding-block: 10px;
  padding-inline: 16px;
}

.subscriptions__table thead {
  border: 1px solid #E6E9ED;
}

.subscriptions__table tr {
  color: var(--primary-100);
}

.subscriptions__table .status {
  display: flex;
  align-items: center;
  gap: 8px;
}

.subscriptions__table .status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.subscriptions__table .available .status-dot {
  background-color: #22c55e; /* verde */
}

.subscriptions__table .closed .status-dot {
  background-color: #ef4444; /* vermelho */
}

.subscriptions__table a {
  color: #3b82f6;
  text-decoration: none;
}

.subscriptions__table a:hover {
  text-decoration: underline;
}